{% load url from future %}
<!--Header-->
    <header class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <h1 class="title-head"><a href="{% url 'content:home' %}">malagapresupuestosweb.com</a></h1>
                {# <a id="logo" class="pull-left" href="index.html"></a> #}
                <!-- <div class="nav-collapse collapse pull-right">
                    <ul class="nav">
                        <li class="active"><a href="index.html">Home</a></li>
                        <li><a href="about-us.html">About Us</a></li>
                        <li><a href="services.html">Services</a></li>
                        <li><a href="portfolio.html">Portfolio</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages <i class="icon-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="career.html">Career</a></li>
                                <li><a href="blog-item.html">Blog Single</a></li>
                                <li><a href="faq.html">FAQ</a></li>
                                <li><a href="pricing.html">Pricing</a></li>
                                <li><a href="404.html">404</a></li>
                                <li><a href="typography.html">Typography</a></li>
                                <li><a href="registration.html">Registration</a></li>
                                <li class="divider"></li>
                                <li><a href="privacy.html">Privacy Policy</a></li>
                                <li><a href="terms.html">Terms of Use</a></li>
                            </ul>
                        </li>
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="contact-us.html">Contact</a></li>
                        <li class="login">
                            <a data-toggle="modal" href="#loginForm"><i class="icon-lock"></i></a>
                        </li>
                    </ul>
                </div> --><!--/.nav-collapse -->
            </div>
        </div>
    </header>
    {% if message %}
        <div onclick="$(this).hide()" style="cursor:pointer; background-color: #5bb75b; color: white; font-size: 25px; padding: 23px; text-align: center; width: 100%;" class="message_container">
            <span class="message">{{ message }}</span>
        </div>
    {% endif %}
    {% if form.non_field_errors %}
        <div onclick="$(this).hide()" style="cursor:pointer; background-color: red; color: white; font-size: 25px; padding: 23px; text-align: center; width: 100%;" class="message_container">
            <span class="message">{{ form.non_field_errors }}</span>
        </div>
    {% endif %}

    <!-- /header -->
