{% extends "layout.html" %}

{% block title %}Málaga Presupuestos Web: Aviso Legal{% endblock title %}

{% block content %}

    {% include "header.html" %}
    <section class="main-info">
        <div class="container">
            <div class="row-fluid">
                <div class="contenido-informativo">
                    <span class="title1_infocontent"><h1>Condiciones generales de uso</h1></span>
                    <div class="paragraph">
                    <p>
                    </p><p><span class="title2_infocontent">1)  DATOS IDENTIFICATIVOS:</span> En cumplimiento con el deber de información recogido en artículo 10 de la Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la Información y del Comercio Electrónico, a continuación se reflejan los siguientes datos: El titular de malagapresupuestosweb.com (en adelante, el Site) es Antonio Ignacio Campos Ruiz, con domicilio en Calle Poeta Aurora de Albornoz, 4 Málaga (España), con número de D.N.I: 74854307w, con teléfono de contacto 655471058 (en adelante, AICR). <a href="mailto:info@malagapresupuestosweb.com">Contactar</a>
                    </p>
                    </div>
                    <div class="paragraph">
                    <p><span class="title2_infocontent">2)  USUARIOS:</span> El acceso y/o uso de los portales de AICR atribuye la condición de USUARIO, que acepta, desde dicho acceso y/o uso, las Condiciones Generales de Uso aquí reflejadas. Las citadas Condiciones serán de aplicación independientemente de las Condiciones Generales de Contratación que en su caso resulten de obligado cumplimiento.</p></div>

                    <div class="paragraph">
                    <p><span class="title2_infocontent">3)  USO DEL PORTAL:</span> el Site de AICR proporciona el acceso a multitud de informaciones, servicios, programas y datos (en adelante, "los contenidos") en Internet pertenecientes a AICR o a sus licenciantes, a los que el USUARIO puede tener acceso.
                    </p>
                    <p>
                    El USUARIO asume la responsabilidad del uso del Site. Dicha responsabilidad se extiende al registro que fuese necesario para acceder a determinados servicios o contenidos. En dicho registro el USUARIO será responsable de aportar información veraz y lícita. Como consecuencia de este registro, al USUARIO se le puede proporcionar una contraseña de la que será responsable, comprometiéndose a hacer un uso diligente y confidencial de la misma.
                    </p>
                    <p>
                    El USUARIO se compromete a hacer un uso adecuado de los contenidos y servicios (como por ejemplo servicios de chat, foros de discusión o grupos de noticias) que AICR ofrece a través de su Site y con carácter enunciativo pero no limitativo, a no emplearlos para (i) incurrir en actividades ilícitas, ilegales o contrarias a la buena fe y al orden público; (ii) difundir contenidos o propaganda de carácter racista, xenófobo, pornográfico-ilegal, de apología del terrorismo o atentatorio contra los derechos humanos; (iii) provocar daños en los sistemas físicos y lógicos de AICR, de sus proveedores o de terceras personas, introducir o difundir en la red virus informáticos o cualesquiera otros sistemas físicos o lógicos que sean susceptibles de provocar los daños anteriormente mencionados; (iv) intentar acceder y, en su caso, utilizar las cuentas de correo electrónico de otros usuarios y modificar o manipular sus mensajes.
                    </p>
                    <p>
                    AICR se reserva el derecho de retirar todos aquellos comentarios y aportaciones que vulneren el respeto a la dignidad de la persona, que sean discriminatorios, xenófobos, racistas, pornográficos, que atenten contra la juventud o la infancia, el orden o la seguridad pública o que, a su juicio, no resultaran adecuados para su publicación. En cualquier caso, AICR no será responsable de las opiniones vertidas por los usuarios a través de los foros, chats, u otras herramientas de participación.
                    </p>
                    <p>
                    AICR se reserva el derecho de trasladar las aportaciones públicas realizadas por EL USUARIO a otras ubicaciones, dentro del mismo Site, distintas de la original,  buscando en todo momento mantener organizados los contenidos temáticos conforme al orden jerárquico preestablecido en el Site o darles a dichas aportaciones una mayor difusión, tratando de favorecer la puesta en valor de las contribuciones realizadas por EL USUARIO, que pudieran resultar de especial interés para LA COMUNIDAD.
                    </p></div>
                    <div class="paragraph">
                    <p><span class="title2_infocontent">4)  PROTECCIÓN DE DATOS:</span> AICR cumple con las directrices de la Ley Orgánica 15/1999 de 13 de diciembre de Protección de Datos de Carácter Personal, el Real Decreto 1720/2007 de 21 de diciembre por el que se aprueba el Reglamento de desarrollo de la Ley Orgánica y demás normativa vigente en cada momento, y vela por garantizar un correcto uso y tratamiento de los datos personales del usuario. Para ello, junto a cada formulario de recogida de datos de carácter personal, en los servicios que el USUARIO pueda solicitar a AICR, hará saber al USUARIO de la existencia y aceptación de las condiciones particulares del tratamiento de sus datos en cada caso, informándole de la responsabilidad del fichero creado, la dirección del responsable, la posibilidad de ejercer sus derechos de acceso, rectificación, cancelación u oposición, la finalidad del tratamiento y las comunicaciones de datos a terceros en su caso. Asimismo, AICR informa que da cumplimiento a la Ley 34/2002 de 11 de julio, de Servicios de la Sociedad de la Información y el Comercio Electrónico y le solicitará su consentimiento al tratamiento de su correo electrónico con fines comerciales en cada momento. <a href="/content/política-de-privacidad">POLÍTICA DE PRIVACIDAD</a>
                    </p>
                    </div>
                    <div class="paragraph">
                    <p><span class="title2_infocontent">5)  PROPIEDAD INTELECTUAL E INDUSTRIAL:</span> AICR por sí o como cesionaria, es propietaria de todos los derechos de propiedad intelectual e industrial de sus páginas webs, así como de los elementos contenidos en ellas (a título enunciativo: imágenes, sonido, audio, vídeo, software o textos; marcas o logotipos, combinaciones de colores, estructura y diseño, selección de materiales usados, programas de ordenador necesarios para su funcionamiento, acceso y uso, etc., son titularidad de AICR o bien de sus licenciantes). Todos los derechos reservados.
                    </p>
                    <p>
                    En virtud de lo dispuesto en los artículos 8 y 32.1, párrafo segundo, de la Ley de Propiedad Intelectual, quedan expresamente prohibidas la reproducción, la distribución y la comunicación pública, incluida su modalidad de puesta a disposición, de la totalidad o parte de los contenidos de esta página web, con fines comerciales, en cualquier soporte y por cualquier medio técnico, sin la autorización de AICR.
                    </p>
                    <p>
                    El USUARIO se compromete a respetar los derechos de Propiedad Intelectual e Industrial titularidad de AICR. Podrá visualizar los elementos del Site e incluso imprimirlos, copiarlos y almacenarlos en el disco duro de su ordenador o en cualquier otro soporte físico siempre y cuando sea, única y exclusivamente, para su uso personal y privado. El USUARIO deberá abstenerse de suprimir, alterar, eludir o manipular cualquier dispositivo de protección o sistema de seguridad que estuviera instalado en el las páginas de AICR.
                    </p>
                    </div>
                    <div class="paragraph">
                    <p><span class="title2_infocontent">6)  EXCLUSIÓN DE GARANTÍAS Y RESPONSABILIDAD:</span> AICR no se hace responsable, en ningún caso, de los daños y perjuicios de cualquier naturaleza que pudieran ocasionar, a título enunciativo: errores u omisiones en los contenidos, falta de disponibilidad del portal o la transmisión de virus o programas maliciosos o lesivos en los contenidos, a pesar de haber adoptado todas las medidas tecnológicas necesarias para evitarlo.
                    </p>
                    </div>
                    <div class="paragraph">
                    <p><span class="title2_infocontent">7)  MODIFICACIONES:</span> AICR se reserva el derecho de efectuar sin previo aviso las modificaciones que considere oportunas en su Site, pudiendo cambiar, suprimir o añadir tanto los contenidos y servicios que se presten a través de la misma como la forma en la que éstos aparezcan presentados o localizados en su Site.
                    </p>
                    </div>
                    <div class="paragraph">
                    <p><span class="title2_infocontent">8)  EMPLEO DE COOKIES:</span> AICR podrá utilizar cookies para personalizar y facilitar al máximo la navegación del USUARIO por su Site. Las cookies se asocian únicamente a un USUARIO anónimo y su ordenador y no proporcionan referencias que permitan deducir datos personales del USUARIO. El USUARIO podrá configurar su navegador para que notifique y rechace la instalación de las cookies enviadas por AICR, sin que ello perjudique la posibilidad del USUARIO de acceder a los contenidos.
                    </p>
                    </div>
                    <div class="paragraph">
                    <p><span class="title2_infocontent">9)  ENLACES:</span> En el caso de que en el Site se dispusiesen enlaces o hipervínculos hacía otros sitios de Internet, AICR no ejercerá ningún tipo de control sobre dichos sitios y contenidos. En ningún caso AICR asumirá responsabilidad alguna por los contenidos de algún enlace perteneciente a un sitio web ajeno, ni garantizará la disponibilidad técnica, calidad, fiabilidad, exactitud, amplitud, veracidad, validez y constitucionalidad de cualquier material o información contenida en ninguno de dichos hipervínculos u otros sitios de Internet. Igualmente la inclusión de estas conexiones externas no implicará ningún tipo de asociación, fusión o participación con las entidades conectadas.
                    </p>
                    </div>
                    <div class="paragraph">
                    <p><span class="title2_infocontent">10) DERECHO DE EXCLUSIÓN:</span> AICR se reserva el derecho a denegar o retirar el acceso a su Site y/o los servicios ofrecidos sin necesidad de preaviso, a instancia propia o de un tercero, a aquellos usuarios que incumplan las presentes Condiciones Generales de Uso.</p>

                    </div>
                    <div class="paragraph">
                    <p><span class="title2_infocontent">11) GENERALIDADES:</span> AICR perseguirá el incumplimiento de las presentes condiciones así como cualquier utilización indebida de su Site ejerciendo todas las acciones civiles y penales que le puedan corresponder en derecho.
                    </p>
                    </div>
                    <div class="paragraph">
                    <p><span class="title2_infocontent">12) MODIFICACIÓN DE LAS PRESENTES CONDICIONES Y DURACIÓN:</span> AICR podrá modificar en cualquier momento las condiciones aquí determinadas, siendo debidamente publicadas como aquí aparecen. La vigencia de las citadas condiciones irá en función de su exposición y estarán vigentes hasta que sean modificadas por otras debidamente publicadas.
                    </p>
                    </div>
                    <div class="paragraph">
                    <p><span class="title2_infocontent">13) LEGISLACIÓN APLICABLE Y JURISDICCIÓN:</span> La relación entre AICR y el USUARIO se regirá por la normativa española vigente y cualquier controversia se someterá a los Juzgados y tribunales de la ciudad de Málaga.
                    </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include "footer.html" %}
    {# {% include "login_form.html" %} #}

{% endblock content %}
