<section class="main-info">
    <div class="container">
        <div class="row-fluid">
            <table width="100%">
                <tr width="100%">
                    <td >
                        <div style="display: none; float:left" class="box1 span9">
                            <form id="contact_form" class="contact-form" action="" method="post">
                                <a href="#"><h2>Contactar</h2></a>

                                {% csrf_token %}

                                <div class="control-group">
                                  <label class="control-label" for=""></label>
                                  <div class="controls">
                                    {{ form.message }}
                                  </div>
                                </div>

                                <!-- Text input-->
                                <div class="control-group">
                                  <label class="control-label" for="textinput"></label>
                                  <div class="controls">
                                    {{ form.email }}
                                  </div>
                                </div>

                                <!-- Text input-->
                                <div class="control-group">
                                  <label class="control-label" for="textinput"></label>
                                  <div class="controls">
                                    {{ form.phone }}
                                  </div>
                                </div>


                                <!-- Button -->
                                <div class="control-group">
                                  <label class="control-label" for="singlebutton"></label>
                                  <div class="controls">
                                    <input id="singlebutton" name="singlebutton" class="btn btn-large btn-primary" type="submit" value="Enviar" />
                                    <span style="display: none; " class="cbut btn btn-large btn-primary" onclick="$('.box1, .box2, .cbut, #slider, #services, #bottom, #recent-works, .address_small').toggle(300);">Cancelar</span>
                                  </div>
                                </div>

                                <!-- <input class="btn btn-success btn-large pull-right" type="submit" value="Enviar" /> -->
                            </form>
                            <hr>
                            <h4 style="float:left; margin-right:30px">Puedes llamar sin compromiso al: </h4>
                            <h1>655471058</h1>
                            <div style="display: none; " class="address_small">
                                <b>DIRECCIÓN:</b>
                                    <span>
                                        <i class="icon-home"></i> Calle Poeta Aurora de Albornoz, 4<br>Málaga
                                    </span>
                                    <span>
                                        <i class="icon-envelope"></i>
                                        <strong>Email: </strong> info@malagapresupuestosweb.com
                                    </span>
                                    <span>
                                        <i class="icon-globe"></i>
                                        <strong>Website:</strong> www.malagapresupuestosweb.com
                                    </span>
                                    <span>
                                        <i class="icon-phone"></i>
                                        <strong>Teléfono:</strong> 655 47 10 58
                                    </span>
                            </div>
                        </div>

                    </td>
                    <td >
                        <div class="box2 span9">
                            <h4>Diseño de Páginas Web estéticas, rápidas, funcionales y muy rentables.</h4>
                            <p class="no-margin">Diseño gráfico web especializado en realizar los diseños de imagen corporativa y el posicionamiento web de su empresa. Registro de dominios, planes de alojamiento web, posicionamiento en buscadores, diseño de logotipos, diseño de imagen corporativa y diseño gráfico personalizados junto con su diseño web. </p>
                            <hr>
                            <table>
                                <tr>
                                    <td>
                                        <span class="visible-phone btn cbut btn-success btn-large pull-right" onclick="$('.box1, .box2, .cbut, #slider, #services, #bottom, #recent-works, .address_small').toggle(300);">Contactar</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td ><h4 style="float:left; margin-right:30px">Puedes llamar sin compromiso al: </h4></td>
                                    <td ><h1>655471058</h1></td>
                                </tr>

                            </table>

                        </div>

                    </td>
                    <td >
                        <div class="span3">
                            <span class="hidden-phone btn cbut btn-success btn-large pull-right" onclick="$('.box1, .box2, .cbut, #slider, #services, #bottom, #recent-works, .address_small').toggle(300);">Contactar</span>
                        </div>

                    </td>
                </tr>
            </table>
        </div>
    </div>
</section>
