{% extends "layout.html" %}

{% block title %}Málaga Presupuestos Web: Política de Privacidad{% endblock title %}

{% block content %}

    {% include "header.html" %}
    <section class="main-info">
        <div class="container">
            <div class="row-fluid">
                <div class="contenido-informativo">
                    <span class="title1_infocontent"><h1>Protección de Datos</h1></span>
                    <p>
                    1. Antonio Ignacio Campos Ruiz, con domicilio en Calle Poeta Aurora de Albornoz, 4 Málaga (España), con número de D.N.I: 74854307w, con teléfono de contacto 655471058 (en adelante, AICR), como titular a todos los efectos de la presente página web www.malagapresupuestosweb.com y responsable de los ficheros automatizados derivados de la misma, garantiza el íntegro y pleno cumplimiento de las obligaciones dispuestas por la Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos Personales, así como las dispuestas en su Reglamento de desarrollo, aprobado por el Real Decreto 1720/2007 de 21 de diciembre (en adelante, LOPD y RLOPD) y demás normativa aplicable. <a href="mailto:info@malagapresupuestosweb.com">Contactar</a>
                    </p>
                    <p>
                    2. Esta declaración tiene como finalidad informar a los usuarios de la política de protección de datos personales seguida por AICR. Será aplicable en caso de que los usuarios decidan rellenar algún formulario de AICR donde se recaben datos de carácter personal, sin perjuicio de lo indicado en la Cláusula de Privacidad aplicable a cada formulario concreto.
                    </p>
                    <p>
                    3. AICR puede modificar esta Política de Privacidad en función de exigencias legislativas o de autorregulación, por ello se aconseja a los usuarios que la visiten periódicamente.
                    </p>
                    <p>
                    4. AICR tiene plena conciencia del uso y tratamiento que se debe dar a los datos personales que se puedan requerir o que se puedan obtener de los usuarios en sus páginas web con el fin de gestionar los servicios ofrecidos o para remitirles comunicaciones comerciales de productos o servicios que puedan resultar de su interés.
                    </p>
                    <p>
                    5. AICR adoptará las medidas de índole técnica y organizativa necesarias que garanticen la seguridad de los datos de carácter personal y eviten así su alteración, pérdida, tratamiento o acceso no autorizado, habida cuenta del estado de la tecnología de acuerdo con lo establecido por el RLOPD. Sin embargo, AICR no puede garantizar la absoluta inexpugnabilidad de la red Internet y por tanto la violación de los datos mediante accesos fraudulentos a ellos por parte de terceros.
                    </p>
                    <p>
                    6. Parte de los servicios que AICR ofrece a sus usuarios utilizan cookies. La cookie es un pequeño archivo de texto que el servidor puede guardar en el disco duro de un equipo para almacenar algún tipo de información sobre el usuario. La cookie solo puede ser leída por el sitio web que lo envió al equipo. No es un archivo ejecutable ni puede propagar ni contener un virus. AICR utiliza estos datos con el fin último de mejorar sus servicios. La información que AICR almacena mediante este mecanismo permite reconocer al usuario en sus diferentes visitas al sitio web. El usuario puede configurar su navegador para aceptar o rechazar las cookies, sin embargo AICR le aconseja y agradece que active la aceptación de cookies para poder obtener datos más precisos que permiten mejorar el contenido y adaptarlo a las preferencias del usuario. AICR no se responsabiliza de que la desactivación de las cookies impida el buen funcionamiento de la página.
                    </p>
                    <p>
                    7. Los usuarios responderán, en cualquier caso, de la veracidad de los datos facilitados y se hacen responsables de comunicar a AICR cualquier modificación en los mismos, quedando AICR exento de cualquier tipo de responsabilidad a este respecto.
                    </p>
                    <p>
                    8. Los usuarios tienen reconocidos y podrán ejercitar los derechos de acceso, cancelación, rectificación y oposición, mediante comunicación escrita a las direcciones indicadas en cada caso o a la dirección indicada en el punto 1, identificándose y concretando su solicitud. En su caso, deberán aportar fotocopia del DNI o documento equivalente.
                    </p>
                    <p>
                    9. AICR, en virtud de la Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la Información y de Comercio Electrónico, en ningún caso remitirá publicidad y comunicaciones con fines de venta, u otras de naturaleza comercial, a los usuarios sin que medie su previa solicitud o consentimiento. Asimismo tampoco remitirá mensajes no solicitados ni consentidos previamente ni enviará cadenas de mensajes electrónicos no solicitados ni previamente consentidos.
                    </p>
                    <p>
                    10. AICR informa a los usuarios que, en caso de haber solicitado el envío de mensajes comerciales o alertas, podrán darse de baja de este servicio siguiendo las instrucciones indicadas en cada caso o comunicándolo por escrito a <a href="mailto:info@malagapresupuestosweb.com">info @ malagapresupuestosweb.com</a>
                    </p>
                    <p>
                    11. En relación con los datos personales de menores de 14 años, AICR nunca utilizará estos datos para fines inadecuados para la edad del menor. AICR facilitará a los padres o tutores la posibilidad de que puedan ejercer los derechos de acceso, cancelación, rectificación y oposición de los datos de sus hijos o tutelados y animará a los menores a que consulten con ellos antes de proporcionar datos.
                    </p>
                </div>
            </div>
        </div>
    </section>
    {% include "footer.html" %}

{% endblock content %}
