<!--Services-->
<section id="services">
    <div class="container">
        <div class="center gap">
            <h3>Qué ofrecemos</h3>
            {# <p class="lead">Mira algunos de nuestros recientes proyectos que hemos acabado para nuestros apreciados clientes</p> #}
        </div>

        <div class="row-fluid">
            <div class="span4">
                <div class="media">
                    <div class="pull-left">
                        <i class="icon-globe icon-medium"></i>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Diseño Web</h4>
                        <p>Diseño Web profesional utilizando las últimas tecnologías: Django, AngularJs, Bootstrap, ect. Diseño de Páginas Web estéticas, rápidas, funcionales y muy rentables. Hacemos diseño Responsive para que tu web se adapte a cualquier dispositivo.</p>
                    </div>
                </div>
            </div>

            <div class="span4">
                <div class="media">
                    <div class="pull-left">
                        <i class="icon-thumbs-up-alt icon-medium"></i>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Hosting</h4>
                        <p>Registro de dominios, planes de alojamiento web, nos encargamos de instalar y configurar todo lo que necesita su proyecto para un óptimo funcionamiento en la web. </p>
                    </div>
                </div>
            </div>

            <div class="span4">
                <div class="media">
                    <div class="pull-left">
                        <i class="icon-leaf icon-medium icon-rounded"></i>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Marketing</h4>
                        <p>Contribuir al éxito del cliente es el principal objetivo. A fin de conseguir una comunicación efectiva con el público al que va dirigido el producto o el servicio, trabajos desarrollados mediante las últimas tecnologías existentes buscando siempre el equilibrio entre la funcionalidad y la estética.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="gap"></div>

        <div class="row-fluid">
            <div class="span4">
                <div class="media">
                    <div class="pull-left">
                        <i class="icon-shopping-cart icon-medium"></i>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Autogestión</h4>
                        <p>Facilitamos al cliente, si lo requiere, la autogestión y fácil actualización de su web sin gastos adicionales, junto con todas las ventajas de estos sistemas que se han convertido hoy en día en los estándares más usados.</p>
                    </div>
                </div>
            </div>

            <div class="span4">
                <div class="media">
                    <div class="pull-left">
                        <i class="icon-globe icon-medium"></i>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">SEO</h4>
                        <p>Estudiamos su sitio y le ofrecemos todo lo necesario para optimizarlo internamente. Tenga en cuenta que un buen servicio de SEO OnPage logrará que su sitio consiga mejores resultados en posicionamiento. </p>
                    </div>
                </div>
            </div>

            <div class="span4">
                <div class="media">
                    <div class="pull-left">
                        <i class="icon-globe icon-medium"></i>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Asesoramiento</h4>
                        <p>Asesoría integral en posicionamiento web, incluyendo estudio de las principales palabras claves a desarrollar para mejorar la visibilidad de su negocio, servicio o página web y planificación estratégica de las campañas más convenientes.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!--/Services-->
