{% load static from staticfiles %}
<!--Slider-->
<section id="slide-show">
 <div id="slider" class="sl-slider-wrapper">

    <!--Slider Items-->    
    <div class="sl-slider">
        <!--Slider Item1-->
        <div class="sl-slide item1" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
            <div class="sl-slide-inner">
                <div class="container">
                    <img class="pull-right" src="{% static "images/sample/slider/img1.png" %}" alt="" />
                    <h2>Ideas Creativas</h2>
                    <h3 class="gap">Marcando la diferencia</h3>
                    <!-- <a class="btn btn-large btn-transparent" href="#">Learn More</a> -->
                </div>
            </div>
        </div>
        <!--/Slider Item1-->

        <!--Slider Item2-->
        <div class="sl-slide item2" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">
            <div class="sl-slide-inner">
                <div class="container">
                    <img class="pull-right" src="{% static "images/sample/slider/img2.png" %}" alt="" />
                    <h2>Análisis y Planificación</h2>
                    <h3 class="gap">Nos dedicamos a nuestros clientes</h3>
                    <!-- <a class="btn btn-large btn-transparent" href="#">Learn More</a> -->
                </div>
            </div>
        </div>
        <!--Slider Item2-->

        <!--Slider Item3-->
        <div class="sl-slide item3" data-orientation="horizontal" data-slice1-rotation="3" data-slice2-rotation="3" data-slice1-scale="2" data-slice2-scale="1">
            <div class="sl-slide-inner">
               <div class="container">
                <img class="pull-right" src="{% static "images/sample/slider/img3.png" %}" alt="" />
                <h2>Soluciones Únicas</h2>
                <h3 class="gap">Cuéntanos tu proyecto</h3>
                <!-- <a class="btn btn-large btn-transparent" href="#">Learn More</a> -->
            </div>
        </div>
    </div>
    <!--Slider Item3-->

</div>
<!--/Slider Items-->

<!--Slider Next Prev button-->
<nav id="nav-arrows" class="nav-arrows">
    <span class="nav-arrow-prev"><i class="icon-angle-left"></i></span>
    <span class="nav-arrow-next"><i class="icon-angle-right"></i></span> 
</nav>
<!--/Slider Next Prev button-->

</div>
<!-- /slider-wrapper -->           
</section>
<!--/Slider-->